@import "tailwindcss";


:root {
  --color-text: green;
  --color-background: #1f2937;
}


#container {
  font-weight: bold;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}