---
const { company, title, duration, description, logo } = Astro.props;
---

<details class="relative pl-10 pb-10 border-l border-gray-300 group">
  <summary class="cursor-pointer list-none flex items-start justify-between gap-4">
    
    
    <div class="absolute -left-3 top-1 w-6 h-6 bg-white border-2 border-blue-500 rounded-full flex items-center justify-center">
      {logo
        ? <div class="w-4 h-4" set:html={logo || ''}/>
        : <div class="w-2 h-2 bg-green-500 rounded-full" />}
    </div>
    <div>
      <h3 class="text-lg font-semibold">{company}</h3>
      <p class="text-sm">{title}</p>
      <p class="text-sm italic">{duration}</p>
    </div>
    <span class="text-sm shrink-0 ml-auto group-open:hidden">Show Details</span>
    <span class="text-sm shrink-0 ml-auto hidden group-open:inline">Hide Details</span>
  </summary>

  <p class="mt-2 transition-all duration-300 ease-in-out">{description}</p>
</details>
